*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl.bak
crash.log

*.tfvars
*.tfvars.json
!*.tfvars.example

*.tfplan
tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
